@model BookAPI.Models.PaymentDetail

@{
    ViewData["Title"] = "Payment";
}

<style>


    form {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        /*        text-align: center;
    */ padding: 45px;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
    }

        form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

    .btn-primary {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background-color: #008CBA;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .card-columns img {
        width: 50px;
    }

    /*   .crd {
            background-size: auto;
            background-repeat: no-repeat;
            min-width: 100%;
            margin-top: -40px;
            position: absolute;
            left: -100%;
            right: -100%;
            margin: auto;
            top: 8%;
        }*/



    body {
        background-color: #05386B;
    }

    h1 {
        color: ghostwhite;
    }
</style>
<h1>Online Payment Gateway</h1>

<hr />
<div class="container">
    <div class="containers">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CardPay" class="was-validated">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CardHolderName" class="control-label"></label>
                        <input asp-for="CardHolderName" placeholder="Enter Card Holder Name" class="form-control" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                        <span asp-validation-for="CardHolderName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DebitCardNumber" class="control-label"></label>
                        <input asp-for="DebitCardNumber" placeholder="Enter Debit Card Number" class="form-control" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                        <span asp-validation-for="DebitCardNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ExpiryDate" class="control-label"></label>
                        <input asp-for="ExpiryDate" placeholder="Enter Expiry Date"class="form-control" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CvvPin" class="control-label"></label>
                        <input asp-for="CvvPin" type="password" placeholder="Enter Cvv Pin"class="form-control" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                        <span asp-validation-for="CvvPin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a input type="submit"  asp-action="Thanks" asp-controller="Books" class="btn btn-primary" />Submit</a>
                    </div>
                    <div class="card-columns">
                        <img src="~/assets/master.png" />                <img src="~/assets/visa.png" />  <img src="~/assets/rupay.jpg" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
